
<!-- survey detail modal dialog -->
<div id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h2 class="modal-title pwc-style">
                    Contact information
                </h2>
            </div>
            
            <div class="modal-body">
                
                <!-- input box -->
                <div class="form-group info-input">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" ng-model="formData.email" required>
                </div>
                <!-- input box -->
                <div class="form-group info-input">
                    <label>Company</label>
                    <input type="text" class="form-control" name="company" ng-model="formData.company" required>
                </div>
                <!-- input box -->
                <div class="form-group info-input">
                    <label>Role</label>
                    <input type="text" class="form-control" name="role" ng-model="formData.role" required>
                </div>


                <!-- SURVEY -->

                <!-- PeopleSurvey -->
                <h1 class="pwc-style" style="font-family: CharterITCRegRegular, Georgia, Helvetica, Arial, 'Lucida Grande', sans-serif;">People</h1>
                <div class="form-group" ng-repeat="data in surveyData.peopleData">
                    <!-- {{data.questionNo}}. -->
                    <label class="question">{{data.question}}</label>
                    <div class="answer">
                        <div ng-repeat="option in data.options">
                            <label>
                                <input type="radio" ng-model="formData[$parent.data.questionNo]" value="{{option}}">{{option}}</input>
                            </label>
                        </div>
                    </div>
                </div>
                
                <!-- ProcessSurvey -->
                <h1 class="pwc-style" style="font-family: CharterITCRegRegular, Georgia, Helvetica, Arial, 'Lucida Grande', sans-serif;">Process</h1>
                <div class="form-group" ng-repeat="data in surveyData.processData">
                    <!-- {{data.questionNo}}. -->
                    <label>{{data.question}}</label>
                    <div class="answers">
                        <div ng-repeat="option in data.options">
                            <label>
                                <input type="radio" ng-model="formData[$parent.data.questionNo]" value="{{option}}">{{option}}</input>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- TechnologySurvey -->
                <h1 class="pwc-style" style="font-family: CharterITCRegRegular, Georgia, Helvetica, Arial, 'Lucida Grande', sans-serif;">Technology</h1>
                <div class="form-group" ng-repeat="data in surveyData.technologyData">
                    <!-- {{data.questionNo}}. -->
                    <label>{{data.question}}</label>
                    <div class="answers">
                        <div ng-repeat="option in data.options">
                            <label>
                                <input type="radio" ng-model="formData[$parent.data.questionNo]" value="{{option}}">{{option}}</label>
                            </input>
                        </div>
                    </div>
                </div>
                <!-- textarea -->
                <div>
                    <label>Comments</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="2" ng-model="formData.comment"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addButton"
                        data-loading-text="Sending..." ng-click="addSurvey()">
                        Submit responses
                    </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Clear responses
                </button>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
