
<!-- survey detail modal dialog -->
<div id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Survey Questions</h4>
            </div>
            
            <div class="modal-body">
                
                <!-- input box -->
                <div class="form-group">
                    <label>Name (Input Box)</label>
                    <input type="text" class="form-control" name="name" ng-model="formData.name">
                </div>
                
                <div class="form-group" ng-repeat="data in surveyData">
                    <label>{{data.questionNo}}. {{data.question}}</label>
                    <div  ng-repeat="option in data.options"><label><input type="radio" ng-model="formData[$parent.data.questionNo]" value="{{option}}">{{option}}</label></input></div>
                </div>
                
                
                <!-- textarea -->
                <div>
                    <label>Comments/Suggestions (Textarea)</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="2" ng-model="formData.comment"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addButton"
                        data-loading-text="Sending..." ng-click="addSurvey()">Send results</button>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
